{% extends 'head/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3"><i class='fas fa-key'> </i> Change password</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <div class="docorat">
                    <ul class="uldecorat">
                      <li class="decorli" style="margin-left: 45px;"><label for="currentpassword">Current Password</label>
                      <input class="designnot" style="margin-left: 45px; width: 400px;" type="password" name="currentpassword" id="passInput" placeholder="current-password" required /><i class="fa fa-eye" style="margin-left: 18px;" onclick="myFunction()"></i></li>
                      {% if data.curpassword %} <p style="color: red; margin-top: 10px; margin-left: 30px;">{{data.curpassword}}</p>{% endif %}
                      <li class="decorli" style="margin-left: 45px;"><label class="withinli" for="newpassword">New Password</label>
                      <input class="designnot" style="margin-left: 55px; width: 400px;" type="password" name="newpassword" id="passInput1" placeholder="new-password" required/><i class="fa fa-eye" style="margin-left: 20px;" onclick="myFunction1()"></i></li>
                      <li class="decorli" style="margin-left: 45px;"><label for="confirmpassword">Confirm Password</label>
                      <input class="designnot" style="margin-left: 40px; width: 400px;" type="password" name="confirmpassword" id="passInput2" placeholder="confirm-password" required /><i class="fa fa-eye" style="margin-left: 20px;" onclick="myFunction2()"></i></li>
                      {% if data %} <p style="color: red; margin-top: 10px; margin-left: 30px;">{{data.password}}</p>{% endif %}
                    </ul>
                  </div>
                </div>
                <div style="text-align: center; padding: 30px;" class="butstyle">
                  <button style="border-radius: 15px; padding-left: 10px; padding-right: 10px;" type="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
   
    <script>
      function myFunction() {
        var x = document.getElementById("passInput");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      function myFunction1() {
        var x = document.getElementById("passInput1");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      function myFunction2() {
        var x = document.getElementById("passInput2");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>    

{% endblock content %}