{% extends 'head/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3"><i class='fas fa-plus'> </i> Add New Topic</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <div class="docorat">
                    <ul class="uldecorat">
                      <li class="decorli" style="margin-left: 45px;"><label for="name">Name</label>
                      <input class="designnot" style="margin-left: 59px; width: 400px;" type="text" name="name" id="name" placeholder="name" required /></li>
                      <li class="decorli" style="margin-left: 40px; margin-top: 50px;"><label class="withinli" for="topicimage">Image</label>
                      <input class="designnot" style="margin-left: 47px;" type="file" name="topicimage" accept="image/*" id="imgInp">
                      <img id="blah" src="#" alt="your image" style="width: 400px; border-radius: 20px;" /></li>
                    </ul>
                  </div>
                </div>
                <div style="text-align: center; padding: 30px;" class="butstyle">
                  <button style="border-radius: 15px; padding-left: 10px; padding-right: 10px;" type="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <script>
    imgInp.onchange = evt => {
      const [file] = imgInp.files
      if (file) {
        blah.src = URL.createObjectURL(file)
      }
    }
  </script>

{% endblock content %}